In [80]:
rdd = sc.parallelize([2,3,4])
print (type(rdd))
print (rdd.take(1))

<class 'pyspark.rdd.RDD'>
[2]

# Basic Operations in Spark Programming

In [81]:
x=[1,2,3,4,5,6,7]

In [82]:
simplerdd=sc.parallelize(x)  #

In [83]:
print(type(simplerdd))

<class 'pyspark.rdd.RDD'>

In [84]:
print (simplerdd.collect()) #list ,not run collect on prediction

[1, 2, 3, 4, 5, 6, 7]

In [85]:
print (simplerdd.take(2))

[1, 2]

In [86]:
def square (number):
    return number**2
simpleRdd= sc.parallelize(x).map(square)  ##tranformation
print(simpleRdd.take(2)) ##action

[1, 4]

In [87]:
simpleRdd = sc.parallelize(x).map(lambda x:x**3)
print(simpleRdd.collect())

[1, 8, 27, 64, 125, 216, 343]

In [88]:
from pyspark import SparkContext, SparkConf

In [89]:
import sys

In [90]:
inputs = sys.argv[1]    
output = sys.argv[2]  ##2nd argument the system get

# Wordcount

In [91]:
# conf = SparkConf.setAppName('Word Count')
                              
rdd = sc.textFile('input.txt')
rdd.take(10)

['PRIDE AND PREJUDICE',
 '',
 'By Jane Austen',
 '',
 '',
 '',
 'Chapter 1',
 '',
 '',
 'It is a truth universally acknowledged, that a single man in possession']

In [92]:
counts = rdd.flatMap(lambda line: line.split(" ")).map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b)

In [93]:
counts = rdd.flatMap(lambda x: x.split(" "))
counts.take(10)

['PRIDE', 'AND', 'PREJUDICE', '', 'By', 'Jane', 'Austen', '', '', '']

In [94]:
counts = rdd.flatMap(lambda line: line.split(" ")).map(lambda word: (word, 1))
counts.take(10)   ##tear off the line and then split

[('PRIDE', 1),
 ('AND', 1),
 ('PREJUDICE', 1),
 ('', 1),
 ('By', 1),
 ('Jane', 1),
 ('Austen', 1),
 ('', 1),
 ('', 1),
 ('', 1)]

In [95]:
counts = rdd.flatMap(lambda line: line.split(" ")).map(lambda word: (word.lower(), 1)).reduceByKey(lambda x,y: x+y)
counts.take(20)   ##CONVERT ALL TEXT INTO LOWERCASE => .LOWER()

[('pride', 25),
 ('', 2465),
 ('jane', 152),
 ('chapter', 61),
 ('1', 1),
 ('is', 793),
 ('acknowledged,', 7),
 ('single', 8),
 ('in', 1834),
 ('possession', 8),
 ('of', 3561),
 ('good', 156),
 ('must', 299),
 ('however', 15),
 ('known', 47),
 ('views', 10),
 ('may', 177),
 ('his', 1240),
 ('entering', 9),
 ('neighbourhood,', 11)]

In [96]:
ls

SPARK Tutorial Series.ipynb  statename3/
input/                       statenames/
input.txt*                   statenames1/
statename1/                  statenames2/
statename2/

In [97]:
mkdir input #make directory 'input'

mkdir: input: File exists

In [98]:
mv input.txt input  #move input.txt into 'input'

In [99]:
cd input/

/Users/mengyiwang/Documents/workplace/pySpark/tutorial/input

In [100]:
cd ..

/Users/mengyiwang/Documents/workplace/pySpark/tutorial

In [101]:
ls

SPARK Tutorial Series.ipynb  statename3/
input/                       statenames/
statename1/                  statenames1/
statename2/                  statenames2/

# Flatmap and coalesce

In [102]:
x=[1,2,3,4,5,6,7,8,9]
rdd=sc.parallelize(x)

In [103]:
series = rdd.map(lambda x:[x,(x+1)*x]) # map into tuple
print (series.collect())

[[1, 2], [2, 6], [3, 12], [4, 20], [5, 30], [6, 42], [7, 56], [8, 72], [9, 90]]

In [104]:
series = rdd.flatMap(lambda x:[x,(x+1)*x])   #flatMap is case sensitive
print (series.collect())

[1, 2, 2, 6, 3, 12, 4, 20, 5, 30, 6, 42, 7, 56, 8, 72, 9, 90]

In [105]:
statecity =[['New York',['Syracuse','Rochester','Albany'],['British Columbai',['Vancouver','Survey','Burnaby']]]]
rdd = sc.parallelize(statecity)
print (rdd.take(2))

[['New York', ['Syracuse', 'Rochester', 'Albany'], ['British Columbai', ['Vancouver', 'Survey', 'Burnaby']]]]

In [106]:
def flat(lst):
    newlist = []
    state = lst[0]
    for ele in lst[1]:
        newlist.append([state,ele])
    return newlist
print (flat(['New York',['Syracuse','Rochester','Albany']]))

[['New York', 'Syracuse'], ['New York', 'Rochester'], ['New York', 'Albany']]

In [107]:
print (rdd.map(flat).collect())

[[['New York', 'Syracuse'], ['New York', 'Rochester'], ['New York', 'Albany']]]

In [108]:
print (rdd.flatMap(flat).collect())

[['New York', 'Syracuse'], ['New York', 'Rochester'], ['New York', 'Albany']]

In [109]:
statename=['New York','California','Dakota','British Columbia']*25000

In [110]:
len(statename)

100000

In [111]:
staterdd= sc.parallelize(statename)

In [112]:
staterdd.take(8)

['New York',
 'California',
 'Dakota',
 'British Columbia',
 'New York',
 'California',
 'Dakota',
 'British Columbia']

In [115]:
staterdd.saveAsTextFile('statenames3')

In [116]:
staterdd.coalesce(1).saveAsTextFile('statename4')#decrease the number of partitions into 1 RDD

# PySpark RDD Groupby function and reading documentation

In [117]:
weatherData = [
               ['24/07/2018','Syracuse',20],
               ['24/07/2018','Syracuse',21],
               ['24/07/2018','Syracuse',22],
               ['24/07/2018','Syracuse',23],
               ['25/07/2018','Syracuse',23],
                ['25/07/2018','Syracuse',23],
               ['26/07/2018','Syracuse',24],
                ['29/07/2018','Syracuse',29],
               ['26/07/2018','Syracuse',23],
                ['29/07/2018','Syracuse',23]
              ]

weatherRDD =sc.parallelize(weatherData)

In [118]:
weatherRDD.groupBy(lambda data:data[0]).mapValues(list).collect()  #case sensitive!! groupBy!!!
##  key of the group by functions : data[0]-- group by date , data[1]--group by location , data[2]--group by number
## data[0]--group by first column 
##grouo by as a list

[('24/07/2018',
  [['24/07/2018', 'Syracuse', 20],
   ['24/07/2018', 'Syracuse', 21],
   ['24/07/2018', 'Syracuse', 22],
   ['24/07/2018', 'Syracuse', 23]]),
 ('25/07/2018',
  [['25/07/2018', 'Syracuse', 23], ['25/07/2018', 'Syracuse', 23]]),
 ('26/07/2018',
  [['26/07/2018', 'Syracuse', 24], ['26/07/2018', 'Syracuse', 23]]),
 ('29/07/2018',
  [['29/07/2018', 'Syracuse', 29], ['29/07/2018', 'Syracuse', 23]])]

In [122]:
weatherRDD.map(lambda data:((data[0],data[1]),data[2])).groupByKey().mapValues(min).collect() 
##select the min value of each group 
## (data[0],data[1]),data[2]) (key, value)

[(('24/07/2018', 'Syracuse'), 20),
 (('25/07/2018', 'Syracuse'), 23),
 (('26/07/2018', 'Syracuse'), 23),
 (('29/07/2018', 'Syracuse'), 23)]

In [124]:
weatherRDD.map(lambda data:((data[0],data[1]),data[2])).groupByKey().mapValues(max).collect()

[(('24/07/2018', 'Syracuse'), 23),
 (('25/07/2018', 'Syracuse'), 23),
 (('26/07/2018', 'Syracuse'), 24),
 (('29/07/2018', 'Syracuse'), 29)]

In [127]:
weatherRDD.groupBy(lambda data:(data[0],data[1])).mapValues(list).collect()

[(('24/07/2018', 'Syracuse'),
  [['24/07/2018', 'Syracuse', 20],
   ['24/07/2018', 'Syracuse', 21],
   ['24/07/2018', 'Syracuse', 22],
   ['24/07/2018', 'Syracuse', 23]]),
 (('25/07/2018', 'Syracuse'),
  [['25/07/2018', 'Syracuse', 23], ['25/07/2018', 'Syracuse', 23]]),
 (('26/07/2018', 'Syracuse'),
  [['26/07/2018', 'Syracuse', 24], ['26/07/2018', 'Syracuse', 23]]),
 (('29/07/2018', 'Syracuse'),
  [['29/07/2018', 'Syracuse', 29], ['29/07/2018', 'Syracuse', 23]])]

In [ ]:
#reducebykey more efficient
#map : get the format of key and value
#lambda : the function to calculate the values

In [136]:
weatherRDD.map(lambda data:((data[0],data[1]),data[2])).reduceByKey(lambda a,b:min(a,b)).collect()

[(('24/07/2018', 'Syracuse'), 20),
 (('25/07/2018', 'Syracuse'), 23),
 (('26/07/2018', 'Syracuse'), 23),
 (('29/07/2018', 'Syracuse'), 23)]

In [138]:
weatherRDD.map(lambda data:((data[0],data[1]),data[2])).reduceByKey(lambda a,b:(a+b)).collect()

[(('24/07/2018', 'Syracuse'), 86),
 (('25/07/2018', 'Syracuse'), 46),
 (('26/07/2018', 'Syracuse'), 47),
 (('29/07/2018', 'Syracuse'), 52)]

In [140]:
weatherRDD.map(lambda data:((data[0],data[1]),data[2])).reduceByKey(lambda a,b:(a,b)).collect()

[(('24/07/2018', 'Syracuse'), (((20, 21), 22), 23)),
 (('25/07/2018', 'Syracuse'), (23, 23)),
 (('26/07/2018', 'Syracuse'), (24, 23)),
 (('29/07/2018', 'Syracuse'), (29, 23))]

In [141]:
# If you are grouping in order to perform an aggregation (such as a sum or average)
# over each key, using reduceByKey or aggregateByKey will provide much performance.